@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color:#F59E0B;
    --gray-color:#9CA3AF;
    --off-w:#F3F4F6;

}
html,body{
    overflow-x: hidden;
}

img{
     max-width: 300px;
}
hr{
    padding: 1rem 0rem ;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.container{
    padding-left: 0rem ;
    padding-right: 1rem;
    text-align: center;
}

.container-center{
    max-width: 600px;
    margin: auto;
    
}

/* links */
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
   
}
.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    
}

.secondary-link{
    background-color: white;
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
    color: var(--primary-color);

}

/* list */
.non-bullet{
    list-style: none;
}

.list-inline{
    text-decoration: none;
    display: inline;
    padding: 1rem 0.3rem;
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link-active{
    font-weight: bold;
}
/* header */


.main{
    padding:2rem;
    text-align: center;
}

.main .main-img{
    max-width: 600px;
    display: block;
    margin: auto;
}

.main .main-heading{
    padding-top: 1rem;
    color: var(--gray-color);
}
.main .main-heading .inverted{
    color: var(--primary-color);
}

/* section */
.section{
    padding: 2rem;
}

.section h3{
    text-align: center;
}

.ow{
  background-color:var(--off-w) ;
}

/* footer */
.footer{
    background-color: #F59E0B;
    padding: 1rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.footer ul{
    padding: 0px;
}

